html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 50px;
    background: url('/img/bg.jpg');
}

a {
    color: #19193E;
}

a:focus {
    text-decoration: none;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 4px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

h2 a:hover, h2 a:focus {
    text-decoration: none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.important{
    color: #a94442;
}

.action-icons{
    font-size:16px;
}

.image-thumb img {
    width: 200px;
}

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
    width: auto;
}

.news-item .thumbnail {
    float: left;
    margin: 0 25px 15px 5px;
}

.news-footer {
    position: relative;
    border-width: 25px 10px 0px;
    height: 20px;
    border-style: solid;
    border-color: #19193E transparent;
    margin-bottom: 10px;
}

.news-footer > div {
    position: absolute;
    top: -22px;
    color: #fff;
    padding: 0 15px;
}

.news-footer > div.right a, .news-footer > div.right a:hover {
    color: #fff;
}

.news-footer > div.right {
    right: 0
}

.news-footer .glyphicon {
    margin: 0 10px;
}

.news-footer .glyphicon:first-of-type {
    margin: 0 10px 0 0;
}

.news-item h2 a {
    color: #19193E;
}

.list-view .summary {
    border-style: dashed none;
    border-width: 1px;
    border-color: #19193E;
    padding: 5px 0;
    margin-bottom: 10px;
}

.list-view .pagination > .active > a,
.list-view .pagination > .active > span,
.list-view .pagination > .active > a:hover,
.list-view .pagination > .active > span:hover,
.list-view .pagination > .active > a:focus,
.list-view .pagination > .active > span:focus {
    background-color: #19193E;
    border-color: #19193E;
}

.terms-item p {
    float: left;
}

.logo {
    position: relative;
    background: url('/img/logo.png');
    height: 131px;
    width: 213px;
    left: -22px;
    float: left;
    top: 48px;
}

#second-name {
    position: relative;
    top: 90px;
    left: -70px;
    font-size: 25px;
    width: 369px;
}

#name {
    position: relative;
    top: 75px;
    left: -40px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
}

@media (max-width: 1170px) {
    #header .text {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo {
        position: static;
        background: url('/img/logo.png') no-repeat center;
        height: 131px;
        width: inherit;
        float: none;
        margin: 20px 0;
    }

    #header-right, #header .text {
        display: none;
    }

    .no-gutter {
        clear: both;
    }
}

.navbar-default {
    background-color: rgba(248, 248, 248, 0.6);
}

.materials-index table {
    width: 100%;
}

.materials-item .title {
    width: 75%;
}

.gallery-item {
    margin-top: 20px;
}

.gallery-item .photo, .gallery-item .info, .album-index .item {
    display: inline-block;
}

.gallery-item .info {
    padding: 10px 30px;
    vertical-align: top;
}

#top-members {
    padding-left: 10px;
}

#top-members h5 i, .album-index .item {
    margin-right: 10px;
}

.custom-gallery {
    padding-top: 10px;
}

/* menu */
.accordion-body li a {
    font-size: 14px;
    list-style-type: circle;
}

.nav > .accordion {
    padding: 10px 0;
}

.accordion-heading {
    padding-left: 10px;
    position: relative;
}

.accordion-heading a:before {
    content: '';
    font-size: 0;
    line-height: 0;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 6px solid #19193E;
    position: absolute;
    top: 5px;
    left: 0;
}

#middle .panel-heading {
    color: #19193E;
    padding-left: 20px;
    border-right: 1px solid #19193E;
    height: 40px;
    background: url(/img/middle_bg.png) #eee no-repeat right;
}

.navbar-nav > li > a {
    line-height: 50px;
}

.navbar-nav > li > a img {
    border-radius: 22px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.profile .info {
    margin: 15px 5px;
}

.profile .avatar {
    margin: 5px 10px;
}

#comments .comments-item {
    margin-bottom: 10px;
}

#navbar-search {
    margin-left: -20px;
}

.navbar-right {
    margin-right: 0;
}

.panel .breadcrumb {
    background: none;
    margin: 0;
    padding: 0;
}

.panel .breadcrumb li a, .panel .breadcrumb li.active {
    color: #fff;
}

.news-item .content {
    overflow-y: hidden;
}

.nav .nav li a {
    font-size: 13px;
    padding: 5px 10px;
}

#reg-rules {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 15px;
}