/* only apply sticky columns on wider screens */
@media (min-width: 1200px) {
    #sidebar {
        /* margin-left: 15px;*/
    }

    #sidebar.affix-top {
        position: static;
    }

    #sidebar.affix {
        position: fixed !important;
        top: 20px;
        width: 200px;
    }

    #content {
        padding-right: 15px;
    }

    #content.affix-top {
        position: static;
    }

    #content.affix {
        position: fixed !important;
        top: 20px;
        width: 682px;
    }

    #middle.affix-top {
        position: static;
    }

    #middle.affix-bottom {
        padding-top: 0;
    }

    #middle.affix {
        position: fixed !important;
        top: 20px;
        width: 292px;
    }
}

#sidebar.affix, #middle.affix, #content.affix {
    padding-top: 50px;
}

.affix {
    position: static;
}

.highlight-bk {
    background-color: #77CCDD;
    padding: 1px;
    width: 100%;
}

.accordion-group {
    border-width: 0;
}

.dropdown-menu {
    min-width: 250px;
}

.caret {
    color: #19193E;
}

.navbar-toggle {
    color: #fff;
    border-width: 0;
}

.navbar-toggle:hover {
    background-color: #fff;
}

.panel, .panel-heading {
    border-radius: 0;
    border-width: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
}

.thumbnail {
    margin-bottom: 8px;
    border-radius: 0;
}

.well {
    border-radius: 0;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
    padding-left: 1px;
}

@media (min-width: 992px) {
    .no-gutter.row > div[class*='col-md'] {
        padding-left: 0;
        padding-right: 0;
    }

    .no-gutter.row > .col-md-12 {
        width: 99.99999999999999%;
        *width: 99.93055555555554%;
    }

    .no-gutter.row .col-md-11 {
        width: 91.66666666666666%;
        *width: 91.59722222222221%;
    }

    .no-gutter.row > .col-md-10 {
        width: 83.33333333333331%;
        *width: 83.26388888888887%;
    }

    .no-gutter.row > .col-md-9 {
        width: 74.99999999999999%;
        *width: 74.93055555555554%;
    }

    .no-gutter.row > .col-md-8 {
        width: 66.66666666666666%;
        *width: 66.59722222222221%;
    }

    .no-gutter.row > .col-md-7 {
        width: 58.33333333333333%;
        *width: 58.263888888888886%;
    }

    .no-gutter.row > .col-md-6 {
        width: 49.99999999999999%;
    }

    .no-gutter.row > .col-md-4 {
        width: 33.33333333333333%;
    }

    .no-gutter.row > .col-md-3 {
        width: 24.999999999999996%;
        *width: 24.930555555555554%;
    }

    .no-gutter.row > .col-md-2 {
        width: 16.666666666666664%;
        *width: 16.59722222222222%;
    }

    .no-gutter.row > .col-md-1 {
        width: 8.333333333333332%;
        *width: 8.263888888888888%;
    }
}

.btn-primary {
    background-color: #1d1d4b;
    border-color: #20204f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #19193E;
}

/* end custom theme */

#header-right {
    background: url('/img/header-right.png') no-repeat;
    height: 247px;
    background-position: right;
}

